@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

body {
  background-color: black;
  font-family: 'Orbitron', sans-serif;
}
#app {
  height: 100%;
  display: grid;
}
#calc-body {
  background-color: black;
  margin: 2% auto;
  border: 1px solid black;
  border-radius: 15px;
  -webkit-box-shadow: 0px 3px 10px 0px cyan;
  -moz-box-shadow: 0px 3px 10px 0px cyan;
  box-shadow: 0px 3px 10px 0px cyan;
  overflow: hidden;
  box-sizing: border-box;
  width: 400px;
}
#temp {
  min-height: 32px;
  text-align: right;
  vertical-align: text-top;
  color: cyan;
  font-size: 25px;
  padding-right: 2px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  height: auto;
}
#display {
  min-height: 30px;
  text-align: right;
  vertical-align: text-top;
  color: lime;
  font-size: 25px;
  font-weight: bold;  
  padding-right: 2px;
  height: auto;
}
#numpad {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "clear clear divide multiply"
    "seven eight nine subtract"
    "four five six add"
    "one two three equals"
    "zero zero decimal equals";
  height: 500px;
}
button {
  font-size: 30px;
  border: 1px solid black;
}
button:focus {
  outline: none;
}
button:hover {
  opacity: 0.75;
}
.numeric {
  background-color: cyan;
  border: 1px solid black;
  color: black;
}
.numeric:active {
  color: cyan;
  background-color: black;
  opacity: 1;
}
.operator {
  background-color: #00ff80;
  color: black;
}
.operator:active {
  background-color: black;
  color: #00ff80;
  opacity: 1;
}
#clear {
  background-color: #ff0040;
  color: black;
}
#clear:active {
  background-color: black;
  color: #ff0040;
  opacity: 1;
}
#equals {
  background-color: #0080ff;
  color: black;
}
#equals:active {
  background-color: black;
  color: #0080ff;
}
#clear {
  grid-area: clear;
}
#zero {
  grid-area: zero;
}
#one {
  grid-area: one;
}
#two {
  grid-area: two;
}
#three {
  grid-area: three;
}
#four {
  grid-area: four;
}
#five {
  grid-area: five;
}
#six {
  grid-area: six;
}
#seven {
  grid-area: seven;
}
#eight {
  grid-area: eight;
}
#nine{
  grid-area: nine;
}
#decimal {
  grid-area: decimal;
}
#equals{
  grid-area: equals;
}
#add {
  grid-area: add;
}
#subtract {
  grid-area: subtract;
}
#multiply {
  grid-area: multiply;
}
#divide {
  grid-area: divide;
}

@media screen and (max-width: 600px){
  #app {
    height: 95vh;
    margin: 0;
  }
  #calc-body {
    width: 100%;
    margin: 0;
  }
  #temp {
    min-height: 10vh;
  }
  #display {
    min-height: 10vh;
  }
  #numpad {
    height: 80vh;
  }
}