body {
  background-color: black;
}
#app {
  height: 100%;
  display: grid;
}
#calc-body {
  background-color: black;
  margin: 5% auto;
  border: 1px solid black;
  
  -webkit-box-shadow: 0px 3px 10px 0px cyan;
  -moz-box-shadow: 0px 3px 10px 0px cyan;
  box-shadow: 0px 3px 10px 0px cyan;
}
#screen {
  display: grid;
  grid-template-rows: 1fr 1fr;
  text-align: right;
  width: 300px;
  height: 60px;
}
#temp {
  color: cyan;
  font-size: larger;
}
#display {
  color: lime;
  font-size: larger;
  font-weight: bold;
}
#numpad {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "clear clear divide multiply"
    "seven eight nine subtract"
    "four five six add"
    "one two three equals"
    "zero zero decimal equals";
  width: 300px;
  height: 300px;
}
button {
  background-color: black;
  border: 1px solid cyan;
  color: cyan;
  font-size: 30px;
}
button:focus {
  border: 1px solid black;
  outline: none;
  color: black;
  background-color: cyan;
}
#clear {
  grid-area: clear;
}
#zero {
  grid-area: zero;
}
#one {
  grid-area: one;
}
#two {
  grid-area: two;
}
#three {
  grid-area: three;
}
#four {
  grid-area: four;
}
#five {
  grid-area: five;
}
#six {
  grid-area: six;
}
#seven {
  grid-area: seven;
}
#eight {
  grid-area: eight;
}
#nine{
  grid-area: nine;
}
#decimal {
  grid-area: decimal;
}
#equals{
  grid-area: equals;
}
#add {
  grid-area: add;
}
#subtract {
  grid-area: subtract;
}
#multiply {
  grid-area: multiply;
}
#divide {
  grid-area: divide;
}
